<a href="#" class="action__dislike">
  <img src="images/cross.png" alt="Dislike" />
</a>
<a href="#" class="action__cookie">
  <img src="images/cookie.png" alt="Dislike" />
</a>
<a href="#" class="action__like">
  <img src="images/heart.png" alt="Dislike" />
</a>
