<a href="#" class="action__dislike">
  <form action="/account/dislike" method="POST">
    <input type="hidden" name="name" value="<%= data.name %> " />
    <button class="action__btn" type="submit">
      <img src="images/cross.png" alt="Dislike" />
    </button>
  </form>
</a>
<a href="#" class="action__cookie">
  <img src="images/cookie.png" alt="info" />
</a>
<a href="#" class="action__like">
  <form action="/account/like" method="POST">
    <input type="hidden" name="name" value="<%= data.name %> " />
    <button class="action__btn" type="submit">
      <img src="images/heart.png" alt="like" />
    </button>
  </form>
</a>
