<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/Head') %>
  <body>
    <header class="header"><%- include ('partials/Header') %></header>
    <form action="/account/edit" method="POST">
      <input type="text" name="name" placeholder="name" />
      <input type="text" name="study" placeholder="study" />
      <input type="text" name="message" placeholder="message" />
      <input type="text" name="interests" placeholder="interests" />
      <input type="number" name="age" placeholder="age" />
      <input type="checkbox" name="liked" />
      <button type="submit">Verzend</button>
    </form>
    <footer class="footer"><%- include ('partials/Footer') %></footer>
  </body>
</html>
