<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/Head') %>
  <body>
    <header><%- include ('partials/Header') %></header>
    <section class="quote"><%- include ('partials/Quote') %></section>
    <section class="slider"><%- include ('partials/Slider') %></section>
  </body>
</html>
